#sidebar {
  position: fixed;
  background-color: #D4F1F4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 70px;
  height: 100vh;
}
#sidebar p {
  margin: 0;
}
#top-icons {
  position: fixed;
  top: 55px;
}
#bottom-icons {
  position: fixed;
  bottom: 15px;
}
.icon-div {
  transition: 0.25s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  height: 70px;
  width: 70px;
  color: #62a1b6;
}
.icon-div:hover {
  transition: 0.5s ease-in;
  cursor: pointer;
  color: #235c6f;
}
.icon-div svg {
  font-size: 35px;
}
.icon-div p {
  font-size: 12px;
}
